############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.dist-info/

############################
# Virtual Environment
############################
.venv/
venv/
env/

############################
# IDE
############################
.idea/
.vscode/

############################
# Jupyter
############################
.ipynb_checkpoints/

############################
# Data (חשוב מאוד אצלך!)
############################
resources/data/
resources/data2/
resources/word_2_vec/

############################
# Large / binary files
############################
*.csv
*.bin
*.pkl
*.h5
*.pt
*.onnx
*.zip
*.tar
*.gz

############################
# OS
############################
.DS_Store
Thumbs.db